.headerWrapper {
    background-color: #e31870!important;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
  }
  